<div class="crafting-hud-content">
  <p class="status {{#if windowOpen}}open{{else}}closed{{/if}}">
    <i class="fa-solid {{#if windowOpen}}fa-lock-open{{else}}fa-lock{{/if}}"></i>
    {{#if windowOpen}}
      {{localize "RECIPE-BOOK.Hud.StatusOpen"}}
    {{else}}
      {{localize "RECIPE-BOOK.Hud.StatusClosed"}}
    {{/if}}
  </p>
  <button type="button" data-action="toggle" class="{{#if windowOpen}}danger{{else}}success{{/if}}">
    {{#if windowOpen}}
      <i class="fa-solid fa-lock"></i> {{localize "RECIPE-BOOK.Hud.CloseButton"}}
    {{else}}
      <i class="fa-solid fa-lock-open"></i> {{localize "RECIPE-BOOK.Hud.OpenButton"}}
    {{/if}}
  </button>
</div>
